<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <link rel="stylesheet" href="{%static 'new.css'%}">
    <title>create</title>
</head>
<body>
    <form action="/shows/create" method="post">
        {%csrf_token%}
        <h1>add a new show</h1>
        <label>title</label>
        <input type="text" name="title">
        <br>
        <br>
        <label>network</label>
        <input type="text" name="network">
        <br>
        <br>
        <label>release date</label>
        <input type="date" name="release_date">
        <br>
        <br>
        <label>description</label>
        <textarea name="desc" cols="30" rows="3"></textarea>
        <br>
        <input type="submit" value="create">
    </form>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <a href="http://127.0.0.1:8000">go back</a>
</body>
</html>