body {
background-color: #f2f2f2;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
font-family: cursive;
text-align: center;
display: grid;
}
*{
    text-align: center;
    font-family: cursive;
}
a{
    text-decoration: none;
    color: white;
}

form {
background-color: #ffffff;
padding: 40px;
border-radius: 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
margin-bottom: 20px;
}

label {
display: block;
font-weight: 600;
margin-bottom: 5px;
}

input,
textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}

button {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
border-radius: 3px;
cursor: pointer;
}

.error-message {
color: #ff0000;
font-size: 12px;
display: block;
margin-top: 5px;
}

ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol{
    margin: 0 0 0 2em;
}

.rectangle-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;	
}

.rectangle-list a:hover{
    background: #eee;
}	

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;	
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after{
    position: absolute;	
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;				
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #fa8072;				
}
